.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.output {
  margin-bottom: 10px;
}

.calculator input {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 10px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 18px;
}
